<main class="container">
    <div class='jumbotron'>
        <h1 class="display-4"><%= title %> Tony Lin</h1>
        <img alt="portrait" src="https://cdn.discordapp.com/attachments/248245942392717313/762787054987771934/image0.jpg">
        <p>
            I am a 22 year old student at Centennial College pursuing a Software Engineering Technology diploma. I have experience working with Python, C#, Javascript, CSS and HTML. Before coming to Centennial College, I studied at University of Toronto for 2 years before leaving due to personal problems. I have been learning computer science since I was 17 years old. Below, there will be a link to my resume which will highlight more of my abilities and experience.
        <p>
            <a href="https://docs.google.com/document/d/1cC2BSAT8OpuPfvItSTnaQfQJDYZ-xX2q98_bIkQb1UY/edit#">Resume Link</a>
        </p>
   </div>
</main>