<script src="/scripts/app.js"></script>
</body>
</div>
<!-- Footer -->
<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <h6 class="display-6 navbar-text">&copy;Copyright 2020: Yushu (Tony) Lin.</h6>
    </nav>
</footer>>

</html>