<main class="container">
    <div class='jumbotron'>
        <h1 class="display-4"><%= title %></h1>
        <a href="http://studentweb.cencol.ca/ylin182/">Centennial College Project 1</a>
        <p style="text-align: center;">
            School project: Worked on the HTML and CSS
        </p>
        <img src="https://puu.sh/GAJ6M/17850807d4.png"> 
        <a href="http://studentweb.cencol.ca/ylin182/Assignment3/assignment3.html">Centennial College Project 2</a>
        <p style="text-align: center;">
            School project: Worked on the HTML and CSS
        </p>
        <img src="https://puu.sh/GAJ7d/7639f2bebc.png">
        <a href="http://studentweb.cencol.ca/ylin182/Week03/assignment2.html">Centennial College Project 3</a> 
        <p style="text-align: center;">
            School project: Worked on the HTML and CSS
        </p>
        <img src="https://puu.sh/GAJ7Q/d81fbcc788.png">
   </div>
</main>