<main class="container">
    <div class='jumbotron'>
        <h1 class="display-4"><%= title %></h1>       
        <div class="centering">
            <div class="imageContainer">
                <img src="/assets/images/js.png" class="image">
                <div class="overlay">
                    <div class="text">Web Development using Javascript</div>
                </div>
            </div>
            <div class="imageContainer">
                <img src="/assets/images/html.png" class="image">
                <div class="overlay">
                    <div class="text">Web Design using HTML and CSS</div>
                </div>
            </div>
            <div class="imageContainer">
                <img src="/assets/images/piano.png" class="image">
                <div class="overlay">
                    <div class="text">Composing Requested Songs to Piano Sheets</div>
                </div>
            </div>
            <div class="imageContainer">
                <img src="/assets/images/kb.png" class="image">
                <div class="overlay">
                    <div class="text">Mechanical Keyboard Assembly Services</div>
                </div>
            </div>
            <div class="imageContainer">
                <img src="/assets/images/val.png" class="image">
                <div class="overlay">
                    <div class="text">Boosting Services in a Variety of Video Games</div>
                </div>
            </div>
        </div>
   </div>
</main>