<main class="container">
    <div class='jumbotron'>
        <h1 class="display-4">Welcome to Tony's Portfolio</h1>
        <br>
        <p style="text-align: center; margin-left:100px; margin-right: 100px;">
            Here you will find services I offer, a list of project I have worked on, more detailed information about myself and 
            my contact information.
            <br>
            <br>
            <br>
            Please click on one of the links below to navigate to where you wish to browse:
        </p>
        <ul>
            <li>
                <a href="/about">
                    About Me
                </a>
            </li>
            <li>
                <a href="/projects">
                    Projects
                </a>
            </li>
            <li>
                <a href="/services">
                    Services
                </a>
            </li>
            <li>
                <a href="/contact">
                    Contact Me
                </a>
            </li>
        </ul>
   </div>
</main>