/*
File: app.css
Name: Tony Lin
Student ID: 301071193
Date: October 7
*/

h1{
    text-align: center;
    margin-bottom: 40px;
}

ul{
    list-style: none;
}

.inputForm{
    width: 500px;
    clear: both;
    text-align: center;
    margin-left: 27.5%;
    margin-right: auto;
}

form{
    display: inline-block;
    margin-right: 50%;
}

.inputForm input {
    width: 100%;
    clear: both;
}

.button{
    position:absolute;
    left: 24.8%;
}
.infoContainer {
    text-align: center;
}

p{
    margin-left: 50px;
    margin-right: 50px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-bottom: 40px;
  }

a{
    text-align: center;
    display: block;
    margin: 0 auto;
    color: teal
}

p.solid {
    border-style: solid;
}

#card{
    margin-bottom: 15px;
}

button{
    margin-left: 23.5%;
}

.imageContainer{
    position: relative;
    width: 50%;
}

.image{
    display: block;
    width: 100%;
    height: auto;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:darkslategray;
}

.imageContainer:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.centering{
    display: block;
    margin-left: 30%;
    margin-right: auto;
    width: 80%;
}

  